@use "../../responsive.scss" as *;

.layout {
  // background-color: rebeccapurple;
  height: 100vh;
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @include lg {
    // background-color: coral;
    max-width: 1200px;
  }

  @include md {
    // background-color: cornflowerblue;
    max-width: 768px;
  }

  @include sm {
    // background-color: red;
    max-width: 640px;
  }

  .content {
    // flex: 1; /* When we use flex then there is some problem on height properties */

    height: calc(100vh - 100px);
  }
}
