@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Varela+Round&display=swap");
@import "tailwindcss";

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-lora: "Lora", serif;
  --font-varela: "Varela Round", sans-serif;
}

.topListItem {
  @apply mr-5 text-lg font-light cursor-pointer hover:text-gray-500;
}

/* Sidebar Section */

.sidebarItem {
  @apply flex items-center flex-col w-full [&_img]:mt-[15px] [&_p]:p-[30px];
}

.sidebarTitle {
  @apply m-2.5 p-1.5  w-[80%] border-t border-b border-[#a7a4a4] font-varela text-xs text-[#222] font-semibold leading-5 text-center uppercase;
}

.sidebarList {
  @apply list-none mb-7.5;
}

.sidebarListItem {
  @apply inline-block w-1/2 mt-3.5 cursor-pointer;
}

.postCat {
  @apply font-varela font-normal text-[11px] text-[#be9656] leading-5 mt-3.5 mr-2.5;
}
